-----BEGIN PRIVATE KEY-----
[PLACEHOLDER - Replace with actual private key for client certificate]
[This file is only needed if NiFi requires client certificate authentication]
[Remove .example extension and replace with actual private key content]
[IMPORTANT: Never commit the actual private key to version control]
-----END PRIVATE KEY-----